@page "/parent3"
<h3>Parent</h3>
<Child CounterChangeEvent="CounterChangeHandeller"></Child>
<h1>@LocalCounter</h1>
@code {
    public int LocalCounter { get; set; }
    private void CounterChangeHandeller(int counterValue)
    {
        LocalCounter = counterValue;
    }
}
