<div style="margin:10px;border:10px solid red">
    <h3>Child</h3>
    <h3>MEssage :@Message</h3>
</div>

@code {
    [Parameter]
    public string Message { get; set; } = "Default Message FRom Child";
}
